/target/
.m2/
/gitdir/
/data/*
!/data/.gitkeep

.DS_Store
Thumbs.db
Desktop.ini

.idea/
.vscode/
.classpath
.project
.settings/
*.iml
*.ipr
*.iws

*.log
*.tmp
*.bak
*.swp
*.swo

hs_err_pid*
.mvn/wrapper/maven-wrapper.jar
